{{!< default}}

<main class="kg-width-wide">
    <div class="flex justify-center">
        <div class="mt-6 mb-12 max-w-xl p-10 rounded-3xl bg-[#FFF5CA] dark:bg-[#513e77] transition-all text-slate-500 dark:text-slate-100 -rotate-1 hover:rotate-0">
            <h1>
                Hey, I'm <a class="underline" href="https://threads.net/lmrisdal" target="_blank">Lars</a>! I'm a software engineer at
                <a class="underline" href="https://www.evidi.com/en/" target="_blank">Evidi</a> - I like technology, video games, movies and photography.
                </h1>
        </div>
    </div>
    <div class="posts-grid grid sm:grid-cols-2 lg:grid-cols-3 gap-12 sm:gap-8 mt-12">
        {{> "loop" }}
    </div>
    <div class="my-24">{{pagination}}</div>
</main>